<div id="<%= dom_id order %>">

    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Producto </th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th scope="row"><%= order.monto %></th>
        <td> <%= order.fechaorden %></td>
        <td> <%= order.costumer.nombre %> </td>
        <td> <%= order.product.nombre %> </td>
      </tr>

    </tbody>
  </table>

</div>
