<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order), class:"btn btn-outline-secondary" %> |
  <%= link_to "Back to orders", orders_path, class:"btn btn-outline-secondary" %>

  <%= button_to "Destroy this order", @order, method: :delete, class:"btn btn-outline-secondary" %>
</div>
