<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "form-label" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :precio, style: "form-label" %>
    <%= form.number_field :precio %>
  </div>

  <div>
    <%= form.label :descripcion, style: "form-label" %>
    <%= form.text_field :descripcion %>
  </div>

  <div>
    <%= form.label :cantidad, style: "form-label" %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="button">
    <%= form.submit, "Actualizar producto", class:"btn btn-outline-secondary" %>
  </div>
<% end %>
